@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container>* {
    box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.75);
    border: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #2b2424;
    height: 50px;
    COLOR: #f26;
}


.navbar {
    background-color: brown;
    
    grid-area: navbar;
    
    position: absolute;
    margin-right: -200px;
    width: 450px;
    height: 65px;
    text-align: center;
}

.articlebar {
    grid-area: articlebar;
    background-color: #27F635;
}

.main {
    grid-area: main;
    background-color: chocolate;
    position: absolute;
    top: 50px;
    width: 450px;
    height: 690px;
}



.footer {
    grid-area: footer;
    background-color: #203AE2;
}

.grid-container {
    display: grid;
    gap: 15px;
    grid-template-areas: "header header header""articlebar articlebar articlebar""main2 main1 main0""footer footer footer";
}

@media(min-width: 200px) {
    .grid-container {
        grid-template: "header header header" 50px "navbar navbar navbar" 180px "articlebar articlebar articlebar" 100px "main2 main2 " 245px "footer footer footer";
    }
}

@media (max-width: 600px) {

    .main2,
    .main1,
    .main0 {
        grid-column: 1 /span 3;
    }

    .grid-container {
        grid-template-rows: repeat(7, 80px);
    }
}

.icon {
    position: absolute;
    margin-left: -40px;
    width: 30px;
    height: 30px;
    text-align: center;
}.max{
    max-width: 950px;
    position: absolute;
    margin-left: 600px;
    margin-top: 90px;

}.caja{
    width: 200px;
    border: none;
    border-radius: 5px;
    height: 35px;
    border: 2px solid #1d0b0b;
    padding-left: 10px;
    margin-bottom: 10px;
}.caja2{
    width: 200px;
    border: none;
    border-radius: 5px;
    height: 200px;
    border: 2px solid #1d0b0b;
    padding-left: 10px;
    margin-bottom: 10px;
}
.boton{
    width: 250px;
    border: none;
    border-radius: 5px;
    height: 55px;
    border: 2px solid #1d0b0b;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: dimgrey;
    color: white;

}#table{
    align-items: center;
    color: white;
    width: 900px;
}
th{
    border: 1px solid rgb(23, 187, 252);
    background-color: rgb(8, 141, 218);
    padding: 5px;
}
a{
    text-decoration: none;    
}
.icono1{
    font-size: 14px;
    color: red;
}
.icono2{
    font-size: 14px;
    color: green;
}
td{
    color: rgb(13, 107, 189);
}
.accion{
    display: flex;
    justify-content: space-evenly;
    align-content: center;  
}
